# Django
DJANGO_SECRET_KEY=troque-esta-chave-por-uma-aleatoria
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres (nomes batem com o docker-compose.yml)
DB_NAME=relatorios
DB_USER=relatorios
DB_PASSWORD=relatorios
DB_HOST=db
DB_PORT=5432

# MinIO (S3-compatível)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=relatorios-fotos
MINIO_ENDPOINT=http://minio:9000
# Endpoint público usado para gerar URLs acessíveis fora da rede docker (ex: no navegador do usuário)
MINIO_PUBLIC_ENDPOINT=http://localhost:9000